*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    height: 100vh;
}

body {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #85FFFD, #04174C);
}

.outer {
    position: relative;
    width: 200px;
    height: 200px;
    background: white;
    border-radius: 100px;
    border: 1px solid black;
    background: transparent;
    box-shadow: inset 0 0 0 20px white, inset 0 0 0 21px black, 0 0 3px rgba(0, 0, 0, .3);
}

.hour,
.minute,
.sec {
    position: absolute;
    left: 50%;
    top: 50%;
    background: black;
    transform-origin: top;
    border-radius: 2px;
    transition: all .07s;
    transition-timing-function: cubic-bezier(.1, 2.7, .58, 1);
}

.hour {
    width: 3px;
    height: 25%;
}

.minute {
    width: 2px;
    height: 28%;
}

.sec {
    width: 1px;
    height: 32%;
    transform: rotate(10000deg);
}