*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    user-select: none;
}

:root {
    --pd: 10px;
    --piccolor: #D9AD78;
    --blur: 0px;
}

body {
    background: #182F3E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 40px;
}

h1 {
    font-size: 60px;
    background: linear-gradient(45deg, #B3CABB, #23354D);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

img {
    width: 600px;
    height: 400px;
    padding: var(--pd);
    background: var(--piccolor);
    filter: blur(var(--blur));
}

#color {
    width: 150px;
}

label {
    color: white;
    font-size: 24px;
    padding: 0 10px;
}

input {
    vertical-align: middle;
}